body {

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    
   
}
/* Headers */
header {
    background-image: url(./Pictures/Galactus.jpg);
    background-size: 100%;
    background-position: center;
    height: 800px;
    padding: 10px;
    text-align: center;
}

.home-video {
    width: 600px;
    height: 300px;
       
}

header .logo a {
    background-image: url(./Pictures/Fortnite\ logo2.png);
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 110px;
    position: relative;
    text-indent: -999999px;
    top: -10px;
}

h1 {
    color: white;
    text-align: center;
}
/* Nav Style */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    text-decoration: none;
}
/*  RESPONSIVE RULES */

@media screen and (max-width: 1200px){
    header {
        height: 500px;
    }
}    
@media screen and (max-width: 800px){
    header {
        height: 500px;
    }
    .current {
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        border: thick;
        border: rgb(54, 54, 54);
        border-style: solid;
    }
    .home-video {
        width: 400px;
        height: 200px;
    }
} 


/* Sections */
.current {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: thick;
    border: rgb(54, 54, 54);
    border-style: solid;
    
    
    
}

.current div {
    color: white;
    margin: auto;
    text-align: center;
    width: 200px
    
}

.current div a {
    text-decoration: none;
    
}
    

.text {
    padding: 3px 0px;
}

.current div img {
    width: 200px;    
    
}




.image-link {
    position: relative;
    margin: 250px auto 0;
    width: 400px;
    height: 250px;
}
.image-link::before {
      content:'';
      position: absolute;
      top:-2px;
      left:-2px;
      width:calc(100% + 4px);
      height:calc(90% + 4px);
      background: linear-gradient(45deg, #ebb60b, #fffb01, #d19a47, #ffff00, #e0a558, #ebb60b, #fffb01, #d69d48, #ffff00, #fc9b1c);
      background-size: 400%;
      z-index: -1;
      animation: animate 20s linear infinite;
      filter:blur(15px);
      animation-play-state: paused;
}

.image-link.unpaused::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
      background-position: 0 0;
    }
    50.01% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
